.flexbox {
    display: flex;
    width: 99.8vw;
    height: 99.7vh;
    margin: 0;

    background: cornflowerblue;

    justify-content: center;
    align-items: center;
}

.sign-in {
    display: flex;
    
    width: 25vw;
    height: 50vh;
    background: rgba(0, 0, 0, 0.2);


}